<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
 <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <title>edit</title>
<script>
.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
</script>

    </head>
<body>

<div class="container">
    <h2><a href="/tag/python">python</a>   <a href="/tag/life">life</a>  <a href="/download">download</a> <a href="/tag/study">study</a></h2>

<form action="" method="post">
     {% raw xsrf_form_html() %}
    <input type="text" name="title"><p>
     <select name="tag">
      <option value="python">python</option>
      <option value="life">life</option>
      <option value="study">study</option>
  </select><p>
    <textarea name="content" cols="70%" rows="20%"></textarea>
    </p>

    <input type="submit" value="确定">
</form>
</div>
</body>