{% extends "root.html" %}

{% block nav %}{% include "nav.html" %}{% endblock %}

{% block container %}
  <div class="blog-header">
    <h2 class="blog-title">{% block title_mind %}{% endblock %}</h2>

    <p class="lead blog-description">{% block mind %}{% endblock %}</p>
  </div>

  <div class="row">
    {% block row %}

      <div class="col-sm-8 blog-main">
        {% block content %}a{% endblock %}
      </div>

      {% include "side_row.html" %}

    {% endblock %}
  </div><!-- /.row -->
{% endblock %}