{% extends "base.html" %}
 
{% block title %}
    {% for blog in blogs %}
        {{ blog.title}}
        {{ blog.tag_title}}
    {% endfor %}
{% endblock %}
{% block content%}
    {% for blog in blogs %}
        <p>{{ blog.title}}</p>
        <p>{{ blog.date }}</p>
        {{blog.content_html|safe}}


   <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = '22too';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: THIS CODE IS ONLY AN EXAMPLE * * */
    var disqus_shortname = '{{ blog.tag_title }}'; // Required - Replace example with your forum shortname
    var disqus_identifier = '{{ blog.id }}';
    var disqus_title = '{{ blog.title }}';
    var disqus_url = 'http://www.22too.com/blog/{{blog.id  }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>

    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = '22too';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());

    </script>

        <div class="ds-thread" data-thread-key="{{ blog.id }}" data-title="{{ blog.title }}"
             data-url="http://www.22too.com/blog/{{blog.id  }}"></div>
        <script type="text/javascript">
            var duoshuoQuery = {short_name:"22too"};
	        (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		        || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
	    </script>
	<div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"22too"};
	    (function() {
		    var ds = document.createElement('script');
		    ds.type = 'text/javascript';ds.async = true;
		    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		    ds.charset = 'UTF-8';
		    (document.getElementsByTagName('head')[0]
		    || document.getElementsByTagName('body')[0]).appendChild(ds);
	    })();
	</script>

    {% endfor %}
{% endblock %}
