{% extends "base.html" %}
 
{% block title %}
    {% for blog in blogs %}
       {{ blog.title}}
    {% endfor %}
{% endblock %}
{% block content%}
    {% for blog in blogs %}
        <p>{{ blog.title}}</p>
        <p>{{ blog.date }}</p>
        {{blog.content_html|safe}}

    {% endfor %}
<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="3" data-title="qewr" data-url="http://127.0.0.1:5000/blog/3"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
测试

<script type="text/javascript">
    var duoshuoQuery = {short_name:"localhost:5000"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>
<!-- 多说公共JS代码 end -->

{% endblock %}


