<h4><strong>个人账号</strong></h4>
<li><a href="https://github.com/wangyu190810">GitHub</a></li>
<h4><strong>工具列表</strong></h4>
<li><a href="http://tools.22too.com/upload">图片文字识别</a></li>
<h4><strong>RSS订阅</strong></h4>
<li><a href="/recent.atom" ><img src="/static/img/rss.png" height="15%" width="15%"> </a></li>
<h4><strong>微信公众号订阅</strong></h4>
<li><img src="/static/img/weixin3.png" height="50%" width="50%"> </a></li>
<h4><strong>qq交流群:656205010</strong></h4>
<li><a href="https://jq.qq.com/?_wv=1027&k=5zylXBe">点击链接加入群【python 零基础学习群】</a></li>
